
/* Body styling with background image */
body {
  background-image: url('https://img.freepik.com/free-photo/arrangement-with-school-supplies-snack_23-2147654518.jpg?t=st=1729180003~exp=1729183603~hmac=4f3053f8e6e67b6d3d146ecebc927e162e010c23887546334ed3cd07ec2ad748&w=826');
  
}
button {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  background-color: #1682e7;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #1b72f3;
}